*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
    background-image: url(./Images/Wallpapers/ws_Blue_vignetting_2560x1600.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#header{
    width: 80%;
    height: 100px;
    margin: 0px auto;
    background: rgb(11, 94, 177);
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    position: sticky;
    top: 0px;
}
#content_Father {
    display: flex;
    flex-wrap: wrap;
}

#column-1 {
    margin: 6px;
    width: 59%;
    height: 5%;
    margin-left: 153px;
    border: 1px solid #343536;
    background-color: #181819;
}

.clearfix {
    float: none;
    clear: both;
}

#mainMenu{
    margin: 2px;
    float: left;
}

#mainMenu .textBox #textBlog {
    float: left;
    font-size: 15px;
    margin-left: 10px;
    padding-left: 2px;
    height: 30px;
    width: 195%;
    color: #6c6e71;
    background-color: #1a1a1b;
    border: 1px solid #343536;
}

input[type="file"]{
    display: none;
}

label{
    position: absolute;
    left: 44%;
    color: #6c6e71;
    font-size: 15px;
    margin: 1px;
    margin-left: 5px;
    height: 27px;
    width: 10%;
    background-color: #1a1a1b;
    padding-top: 1px;
    padding-left: 10px;
    border: 1px solid #343536;
}

.btnUnpload{
    position: absolute;
    left: 47%;
    color: #232425;
    margin-top: 1px;
    margin-left: 10%;
    height: 30px;
    width: 10%;
    font-weight: bold;
}

#placePost .newPost {
    padding: 5px;
    margin: 20px; 
    margin-left: 5%;
    width: 800px;
    height: auto;
    background-color: #222223;
    border: 1px solid #534d4d;
    color: #ffffff;
}

img{
    width: 800px;
    height: 500px;
    border: 1px solid #000000;
}

/*Columna Resent Post*/
#column-2 {
    margin: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    width: 19.5%;
    height: 10%;
    color: rgb(203, 240, 39);
    border: 1px solid #343536;
    background-color: #181819;
    font-weight: bold;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 14%;
}

#newRecentPost {
    border: 2px solid #343536;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 7%;
    margin-bottom: 2px;
    color: #ffffff;
}

.recentPost1 li {
    margin-top: 2%;
}

/*Pie de página*/
footer {
    margin: 0px auto;
    width: 80%;
    height: 50px;
    line-height: 50px;
    color: #6c6e71;
    background-image:#534d4d;
    background-color: #181819;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #343536;
}

footer a{
    color: #6c6e71;
}