* {
  margin: 0; 
  padding: 0;
  border-radius: 5px;
  color: white;
}

body {
  background-attachment: fixed; background-size: 100%;
  background-image: url(./Images/Wallpapers/ws_Blue_vignetting_2560x1600.jpg);
  background-repeat: no-repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*Caja padre*/
#content_father {
  width: 90%;
  max-width: 1000px;
  margin: 10px auto;
  display: grid;
  grid-gap: 15px;

  /*Las columnas que necesito*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
}

#content_father > div {
  padding: 5px;
}

#content_father > #header, #content_father > #menu_option, #content_father > #sidebar, #content_father > #footer, #placePost .newPost {
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#content_father > #header, #content_father > #footer {
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: -1;
  width: 96%;
}

/*HEADER*/
#content_father #header {
  justify-content: center;
  text-align: center;
  grid-row: 1;
  
}

/*columnas opciones y el sidebar*/
#content_father #menu_option {
  grid-column: span 2; 
  grid-row: 2;
}

#content_father #sidebar {
  grid-row: 2;
  grid-column: 3;
  max-height: 70%;
  position: -webkit-sticky; position: sticky; top: 1%;
}

#content_father #sidebar #recent_column {
  padding: 5px;
  font-weight: bold;
}

.recentPost1 {
  margin-top: 1%;
}

#newRecentPost {
  border: 1px solid white;
  height: 70%;
  padding-top: 2px; padding-bottom: 5px; padding-left: 10%;
}

#mainMenu {
  margin: 10px;
}

#mainMenu #textBlog, #mainMenu #textTitle { 
  font-size: 15px;
  padding-left: 10px;
  background-color: #1a1a1b;
}

input[type="file"] {
  display: none;
}

.row_bottons {
  display: flex;
	justify-content: flex-end;
	align-items: center;
}

.btnUnpload {
  margin: 0 5px; 
  display: flex;
  align-items: center;
  justify-content: center;text-align: center; font-size: 13px;
  width: 22%; 
  height: 30px;
  font-weight: bold;
  background-color: #1a1a1b;
  color: white; 
  border: none;
}

/*Los posts con imagenes y texto*/
#content_father #content {
  grid-column: span 2;  
  grid-row: 3/4;
}

/*Post image-text*/
#placePost .newPost {
  margin: 0.5px; padding: 8px;
  margin-top: 15px; 
  min-width: 640px; height: auto;
}

#placePost img {
  width: 640px; height: auto;
}

#placePost p {
  padding: 8px; text-align: justify;
  background-color: #15151a;
  border: 1px solid rgba(9, 134, 201, 0.659);
}

/*Paginacion*/
#content_father #pagination {
  grid-column: 2 / 3;
  grid-row: 5;
   
}

#pagination ul {
  list-style: none;
  text-align: center;
}

#pagination ul li {
  display: inline-block;
  margin-right: 2px;
}

#pagination ul li a {
  display: block; padding: 10px 15px;
  background: rgb(11, 94, 177);
  text-decoration: none;
}

#pagination ul li a:hover {
  background: rgb(11, 127, 177);
}


/*FOOTER*/
#content_father #footer{
  grid-row: 6;
  margin: 0px auto;
  height: 50px;
  line-height: 50px;
  background-image: #534d4d;
  font-weight: bold; text-align: center;
}







