*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: url(./Images/blue\ pared\ background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#general{
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    border: 1px solid #343536;
    background-color: #1a1a1b;
}

#header{
    width: 100%;
    height: 100px;
    background: rgb(17, 91, 165);
    text-align: center;
    color: #1a1a1b;
    line-height: 100px;
}

.clearfix {
    float: none;
    clear: both;
}

#contenido{
    float: left;
    width: 100%;
    margin-left: 200px;
    
}

#contenido .textBox #textBlog{
    float: left;
    font-size: 15px;
    margin-left: 10px;
    padding-left: 15px;
    border: 1px solid #343536;
    background-color: #1a1a1b;
    font-style: normal;
    color: #6c6e71;
    height: 30px;
    width: 400px; 
}

input[type="file"]{
    display: none;
}

label{
    color: #6c6e71;
    height: 30px;
    width: 150px;
    font-size: 15px;
    background-color: #1a1a1b;
    margin-left: 15px;
    padding-left: 15px;
    position: absolute;
    border: 1px solid #343536;
}

#contenido .btnUnpload{
    color: #6c6e71;
    margin-left: 200px;
    height: 30px;
    width: 150px;
}

#contenido .post {
    margin: 25px; 
    margin-left: 10px;
    width: 800px;
    height: auto;
    background-color: #444445;
    border: 1px solid #534d4d;
    color: white;
}

#contenido .post img{
    width: 800px;
    height: 500px;
}

.post {
    padding: 5px;
}

footer{
    width: 100%;
    height: 60px;
    line-height: 50px;
    background-image:#534d4d;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #343536;
}